
<div class="main">
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <app-nav></app-nav>    
        </div> 
            <div class="section divide col-sm-4 col-xs-4">
                <div class="row pic-container">
                    <img src="/assets/image/kb.jpg" class="picture"/> 
                </div>
                <div class="row title">
                    Hi I'm
                    <span class="aqua">Komal Bansal</span>
                </div>
                <div class="subtitle">
                    Web Developer and Designer
                </div>
                <hr class="style-line">
                <div class=" row details">
                    Proffesional MEAN stack web developer. Sometimes works as a freelancer.
                </div>
                <div class="row">
                    <div class="box">
                        Email:komalb1408@gmail.com, Phone: +91 7042425763
                    </div>
                </div>
                <div class="social row">
                    <a class="icons" href="https://www.linkedin.com/in/komal-bansal-611531113/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="icons" href="https://github.com/komal-bansal" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="section divide col-sm-4 col-xs-4">
                <div class="heading">
                    CONTACT
                </div>
                <div class="contact">
                    <h4>
                        <i class="fa fa-map"></i>Address
                    </h4>
                    <p>North West Delhi, India</p>
                    <h4>
                        <i class="fa fa-envelope"></i>Email
                    </h4>
                    <p>komalb1408@gmail.com</p>                    
                    <h4>
                        <i class="fa fa-phone-square"></i>Phone No
                    </h4>
                    <p>+91 7042425763/ +91 8802852073</p>                                        
                </div>
            </div>
    </div>
</div>