<ul class="nav-ul">
    <li routerLinkActive="active" (click)="show=true" class="nav-li"><a routerLink="/home" class="nav-a">HOME</a></li>   
    <li routerLinkActive="active" (click)="show=true" class="nav-li"><a routerLink="/resume" class="nav-a">RESUME</a></li>    
    <li routerLinkActive="active" (click)="show=true" class="nav-li"><a routerLink="/skills" class="nav-a">SKILLS</a></li>    
    <li routerLinkActive="active" (click)="show=true" class="nav-li"><a routerLink="/portfolio" class="nav-a">PORTFOLIO</a></li>    
    <!-- <li routerLinkActive="active"><a routerLink="/blog">BLOG</a></li>     -->
    <li routerLinkActive="active" (click)="show=true" class="nav-li"><a routerLink="/contact" class="nav-a">CONTACT</a></li>    
</ul>