
<div class="main">
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <app-nav></app-nav>    
        </div> 
            <div class="section divide col-sm-4">
                <div class="row pic-container">
                    <img src="/assets/image/kb.jpg" class="picture"/> 
                </div>
                <div class="row title">
                    Hi I'm
                    <span class="aqua">Komal Bansal</span>
                </div>
                <div class="subtitle">
                    Web Developer and Designer
                </div>
                <hr class="style-line">
                <div class=" row details">
                    Proffesional MEAN stack web developer. Sometimes works as a freelancer.
                </div>
                <div class="row">
                    <div class="box">
                        Email:komalb1408@gmail.com, Phone: +91 7042425763
                    </div>
                </div>
                <div class="social row">
                    <a class="icons" href="https://www.linkedin.com/in/komal-bansal-611531113/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="icons" href="https://github.com/komal-bansal" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="section divide col-sm-4">
                <div class="heading">SKILLS</div> 
                <div class="professional">
                    <div class="icon">
                        <h4><i class="fa fa-user"></i> Professional Skills</h4>
                        <div class="progress">
                            <div class="progress-bar color1" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Communication Skills</div><span class="pull-right">75%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color2" style="width: 80%" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Leadership</div><span class="pull-right">80%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color3" style="width: 80%" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Confidence</div><span class="pull-right">80%</span>
                        </div>
                    </div>

                    <div class="icon">
                        <h4><i class="fa fa-user"></i> Code Skills</h4>
                        <div class="progress">
                            <div class="progress-bar color1" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">HTML, CSS</div><span class="pull-right">75%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color2" style="width: 80%" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Javascript</div><span class="pull-right">80%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color3" style="width: 85%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Angular.js</div><span class="pull-right">85%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color1" style="width: 70%" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Node Js</div><span class="pull-right">70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar color2" style="width: 70%" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">MongoDB</div><span class="pull-right">70%</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>