
<div class="main">
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <app-nav></app-nav>    
        </div> 
            <div class="section divide col-sm-4">
                <div class="row pic-container">
                    <img src="/assets/image/kb.jpg" class="picture"/> 
                </div>
                <div class="row title">
                    Hi I'm
                    <span class="aqua">Komal Bansal</span>
                </div>
                <div class="subtitle">
                    Web Developer and Designer
                </div>
                <hr class="style-line">
                <div class=" row details">
                    Proffesional MEAN stack web developer. Sometimes works as a freelancer.
                </div>
                <div class="row">
                    <div class="box">
                        Email:komalb1408@gmail.com, Phone: +91 7042425763
                    </div>
                </div>
                <div class="social row">
                    <a class="icons" href="https://www.linkedin.com/in/komal-bansal-611531113/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="icons" href="https://github.com/komal-bansal" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="section divide col-sm-4">
                <div class="heading">
                    PORTFOLIO
                </div>
                <!-- <a href=""> -->
                    <!-- <div class="download-image">
                        <img src="/assets/image/image1.PNG" class="demo-img"> 
                        <div class="edit-image">
                            <a href="www.google.com"><i class="fa fa-edit fa-lg"></i>
                                <p class="go">Go to website</p>
                            </a>
                        </div>
                    </div>
                     -->
                     <a href=""><img src="/assets/image/image1.PNG" class="demo-img"></a>
                    <a href=""><img src="/assets/image/portfolio1.PNG" class="demo-img"></a>
                    <a href=""><img src="/assets/image/image3.PNG" class="demo-img"> </a>
                    


                     <!-- <video id="video1" autoplay="autoplay" controls="controls">
                        <source src="/assets/video/video1.mp4" type="video/mp4"/>
                    </video>

                    <video id="video2" autoplay="autoplay" controls="controls">
                        <source src="/assets/video/video2.mp4" type="video/mp4"/>
                    </video>

                    <video alt="/assets/image/kb.jpg" id="video2" autoplay="autoplay" controls="controls">
                        <source src="/assets/video/video3.mp4" type="video/mp4"/>
                    </video> -->
                <!-- </a> -->

            </div>
    </div>
</div>