
<div class="main">
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <app-nav></app-nav>    
        </div> 
            <div class="section divide col-sm-4">
                <div class="row pic-container">
                    <img src="/assets/image/kb.jpg" class="picture"/> 
                </div>
                <div class="row title">
                    Hi I'm
                    <span class="aqua">Komal Bansal</span>
                </div>
                <div class="subtitle">
                    Web Developer and Designer
                </div>
                <hr class="style-line">
                <div class=" row details">
                    Proffesional MEAN stack web developer. Sometimes works as a freelancer.
                </div>
                <div class="row">
                    <div class="box">
                        Email:komalb1408@gmail.com, Phone: +91 7042425763
                    </div>
                </div>
                <div class="social row">
                    <a class="icons" href="https://www.linkedin.com/in/komal-bansal-611531113/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="icons" href="https://github.com/komal-bansal" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="icons" href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="section divide col-sm-4">
                <div class="heading">
                    RESUME
                </div>
                <a class="download" href="/assets/resume.pdf" target="_blank">Download Resume</a>
                <div class="education">
                    <div class="edu-head">
                        <i class="fa fa-university"></i>
                        <span style="font-weight:700;">Education</span>
                    </div>
                    <div class="container-box">
                        <div class="top">
                            Graduation
                        </div>
                        <div class="content">
                            B.Tech. in Information Technology from Bhagwan Parshuram Institute of Technology (GGSIPU University).
                        </div>
                    </div>

                    <div class="container-box">
                        <div class="top">
                            School
                        </div>
                        <br>
                        <div class="content">
                            <table class="table">
                                <thead>
                                    <th>Course</th>
                                    <th>Institute Name</th>
                                    <th>Year</th>
                                    <th>Result</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12th (CBSE)</td>
                                        <td>Tyagi Public School</td>
                                        <td>2013-2014</td>
                                        <td>81.2%</td>
                                    </tr>
                                    <tr>
                                        <td>10th (CBSE)</td>
                                        <td>Tyagi Public School</td>
                                        <td>2011-2012</td>
                                        <td>74.1%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="experince">
                    <div class="edu-head">
                        <i class="fa fa-flag"></i>
                        <span style="font-weight:700;">Work Experince</span>
                    </div>
                    <div class="container-box">
                        <div class="top">
                            NxtLife Technologies
                        </div>
                        <div>
                            <small style="color:gray">Front end developer</small>
                        </div>
                        <div class="content">
                            Intern as an front end developer for 3 months. Responsible for working on the product meeting all the requirements of client.
                        </div>
                    </div>

                    <div class="container-box">
                        <div class="top">
                            Free Lancer
                        </div>
                        <div class="content">
                            Worked as a free lancer
                        </div>
                    </div>
                </div>

                <!-- <div class="testimonial">
                    <div class="edu-head">
                        <i class="fa fa-commenting"></i>
                        <span style="font-weight:700;">Testimonials</span>
                    </div>
                    <div class="container-box">
                        <div class="top">
                            Alka Girdhar
                        </div>
                        <div>
                            <small style="color:gray">CEO of NxtLife Technologies</small>
                        </div>
                        <div class="content">
                            <div class="review">
                                blah blah blah blahblah blahblah blahblah blahblah blahblah blahvvvblah blahblah blahblah blahblah blah
                            </div>
                            
                            <img src="/assets/image/kb.jpg" class="picture">
                        </div>
                    </div>
                </div> -->
            </div>
    </div>
</div>