/* You can add global styles to this file, and also import other style files */


::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #08aeac;
}


.section{
    background: url('/assets/image/bg.png');
    width: 100%;
    background-color : white;
    margin: 40px 20px 0 0 !important;
    padding: 20px 20px 0 20px;
    max-width: 500px;
    height: 570px; 
    padding: 0;
    overflow: hidden;
transition: background 10s 10s linear
}

.section:hover{
    overflow-y: auto;
}

.divide{
    margin-right: 20px;
}

.row{
    margin: 0 !important;
}

.heading{
     font-family: sans-serif;
    font-size: 26px;
    border-bottom: solid 1px;
    font-weight: 600;
    margin: 28px 26px;
}


  #loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #08aeac;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}
body{
    margin: 0;
    background: url('/assets/image/bg1.jpg') no-repeat center center fixed;  
}

