<div class="main">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-sm-offset-2">
      <app-nav></app-nav>
    </div>
    <div class="section col-sm-8 col-xs-8">
      <div class="row pic-container">
        <img src="/assets/image/kb.jpg" class="picture" />
      </div>
      <div class="row title">
        Hi I'm
        <span class="aqua">Komal Bansal</span>
      </div>
      <div class="subtitle">
        Web Developer and Designer
      </div>
      <hr class="style-line">
      <div class=" row details">
        Well-qualified Full Stack Developer familiar with a wide range of programming utilities and languages. </div>
      <div class="row">
        <div class="box">
          Email:komalb1408@gmail.com, Phone: +91 7042425763
        </div>
      </div>
      <div class="social row">
        <a class="icons" href="https://www.linkedin.com/in/komal-bansal-611531113/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="icons" href="https://github.com/komal-bansal" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="icons leet" href="https://leetcode.com/komalb1408/">
          <img src="/assets/image/leetCode.png" class="leetcode">
        </a>
        <a class="icons" href="https://stackoverflow.com/users/10150695/komal-bansal">
          <i class="fa fa-stack-overflow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
